<app-header></app-header>
<div class="bg-veryLightOrange">
  <section class="min-h-96  py-24 px-4">
    <div class="container text-center">
      <h2 class="font-zerocalcare text-6xl text-darkGray">Faça Parte</h2>
      <p class="font-museoRegular text-2xl md:text-lg text-darkGray mb-10 mt-5 max-w-lg mx-auto">
        Buscamos parceiros que se identifiquem com o propósito da promoção de saúde emocional para jovens em situação de vulnerabilidade. Se você se interessa, veja a seguir como fazer parte.
      </p>
    </div>
  </section>

  <section class="min-h-96  py-12 px-4" id="fazer-parte">
    <div class="container max-w-5xl">
      <h3 class="font-museoSemiBold text-3xl text-darkGray">Como Contribuir</h3>
      <div class="max-w-2xl">
        <p class="font-museoLight text-base text-darkGray mb-10 mt-5 mx-auto">
          Abaixo você encontra duas maneiras de ajudar o nosso projeto. Escolha aquela com a que você mais se identifica:
          <br>
          <br>
          - Seja um apoiador da do Ilumine ajudando o Instituto com doações que potencializará nosso conteúdo chegar a todos os jovens do Brasil. As doações podem ser feitas através do PIX, nossa chave é nosso CNPJ: 34.957.392/0001-01.
          <br>
          <br>

          - Seja um mentor do Ilumine apoiando os jovens na construção de seus projetos de vida. Muitos têm pouca perspectiva de futuro, outros têm sonhos, mas não sabem como colocá-los em prática e ainda há aqueles que não se consideram capazes. A fim de mantê-los engajados e apoiados durante os três primeiros meses, selecionamos mentores para acompanhá-los.
          A ideia é proporcionar uma escuta de qualidade e compartilhamento de diferentes visões de mundo.
           Tivemos ótimas experiências com executivos que se tornaram mentores do projeto,
          que você pode conferir <a [routerLink]="['/como-participar/educador']" class="cursor-pointer underline hover:text-lightGray">aqui</a>. Se você pode e quer compartilhar 1 hora de sua semana com algum desses jovens,
           <a [routerLink]="['/processo-seletivo']" class="cursor-pointer underline hover:text-lightGray">faça sua inscrição aqui</a>.
        </p>
      </div>
    </div>
  </section>

</div>
<app-footer></app-footer>
